USE [master]
GO
/****** Object:  Database [EjemploDB]    Script Date: 6/17/2024 11:18:13 AM ******/
CREATE DATABASE [EjemploDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EjemploDB', FILENAME = N'C:\Program Files\Microsoft SQL Server NEW\MSSQL16.MSSQLSERVERNEW\MSSQL\DATA\EjemploDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EjemploDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server NEW\MSSQL16.MSSQLSERVERNEW\MSSQL\DATA\EjemploDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EjemploDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EjemploDB]
GO
/****** Object:  Table [dbo].[Personas]    Script Date: 6/17/2024 11:18:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Apellido] [nvarchar](50) NULL,
	[Edad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Personas] ON 

INSERT [dbo].[Personas] ([Id], [Nombre], [Apellido], [Edad]) VALUES (1, N'Juan', N'Perez', 30)
INSERT [dbo].[Personas] ([Id], [Nombre], [Apellido], [Edad]) VALUES (2, N'Ana', N'Gomez', 25)
INSERT [dbo].[Personas] ([Id], [Nombre], [Apellido], [Edad]) VALUES (3, N'Luis', N'Martinez', 35)
SET IDENTITY_INSERT [dbo].[Personas] OFF
GO
USE [master]
GO
